.navbar.fixed-top {
    background-color: #fa11cf !important;
    padding: 1px 0 !important;
    height: 5%;
}

.navbar-brand h3 {
    font-size: 24px;
    
}
.navbar-brand .name:hover {
    color: #fc22d0 !important;
    
}
.navbar-brand .name {
    color: #fd4284 !important;

}

.navbar-brand .fitness {
    color: #12a7cc !important;
    margin-left: -80px;
}
h6{
    color:rgb(60, 59, 59) !important;
    font-size: small !important;
}


/* Estilos para el contenedor principal */
div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para la imagen dentro del contenedor */
div img {
    width: 200px;
}

/* Estilos para el párrafo dentro del contenedor */
div p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

/* Estilos para el enlace dentro del párrafo */
div p a {
    color: #007bff;
    text-decoration: none;
}

/* Estilos para el enlace cuando se pasa el mouse sobre él */
div p a:hover {
    text-decoration: underline;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el texto de la clase "lv" en el pie de página */
.lv {
    font-weight: bold;
}

.logo{
    width: 120px;
    height: 120px;
}

.navbar-nav {
    /* Ajusta la alineación de los elementos de la barra de navegación */
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.nav-item{
    padding-left: 30px !important;
    margin-right:initial !important;
}

.nav-link {
    
    color: rgb(10, 10, 10) !important;
    font-size:larger !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size:larger !important;
}
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

