    {% extends "layout.html" %}

    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    

    <div>
        <img src="static/css/img/bienestar.png">
        <p>
            Entra en un espacio donde cada rutina de ejercicios se convierte en una celebración de tu progreso,
            <br> donde el sudor se mezcla con la satisfacción y cada esfuerzo se transforma en logro.
            <br>LV Fitness no es solo un entrenamiento, es un estilo de vida que te impulsa a alcanzar tus metas,<br>
            a sentirte bien contigo mismo y a irradiar esa energía positiva en todas las áreas de tu vida.
            <br> <br>Prepárate para vivir la experiencia LV Fitness: donde la vitalidad se encuentra con la motivación
            y el bienestar se convierte en una forma de vida. <br>
            ¡Estoy muy emocionada de tenerte contigo en este viaje hacia una versión más fuerte,
            más sana y más feliz de ti mismo! <br>
            <br>Aqui te dejo un enlace para que tambien me sigas desde instagram!!!
            <a target="_blank" href="https://www.instagram.com/@lvfitness">@lvfitness</a>
        </p>
    </div>
    <footer>
        <p class="lv">lv fitness </p>
        <p>copyright 2023 </p>
    </footer>
</body>

{% endblock %}